@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/***** Couleurs *****/
/************************ titres & paragraphes ************************/
h1 {
  font-family: "Shrikhand";
  margin-left: -10px;
}

h2 {
  padding: 20px 0 0 15px;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 16px;
}

h3 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  width: 90%;
}

h4 {
  font-family: "Roboto", sans-serif;
  padding-bottom: 6px;
  position: relative;
  font-size: 14px;
  width: 100%;
}

h5 {
  margin-left: 10px;
}

p.index1 {
  color: #808080;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.map {
  padding-left: 15px;
}

.index1 {
  text-align: center;
  width: 80%;
}

h2.index {
  font-weight: bold;
  padding: 20px 10px 10px 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  color: black;
}

/***** Couleurs *****/
/******************************* Animation heart **********************************/
@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*************************** Animation loading page **********************************/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-page {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes shine {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}
@-webkit-keyframes shine {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}
/*************************** Animation Menu **********************************/
@keyframes wait {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*************************** Animation Card Restaurant **********************************/
@keyframes clignote {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer {
  background-color: darkslategrey;
}
footer h5 {
  padding: 20px 0 10px 10px;
  font-family: Shrikhand;
  color: white;
  font-size: 16px;
}
footer .footer-section {
  display: flex;
  align-items: center;
  align-content: center;
  padding-bottom: 10px;
  line-height: 30px;
}
footer ul {
  list-style-type: none;
}
footer li a {
  display: flex;
  color: white;
  text-decoration: none;
  padding-left: 20px;
  flex-wrap: wrap;
  align-items: center;
}
footer .fa-hands-helping {
  width: 12px;
  color: white;
  margin-right: 20px;
  line-height: 30px;
}
footer .fa-utensils {
  width: 12px;
  color: white;
  margin-right: 20px;
  line-height: 30px;
}
footer .fas.fa-arrow-left {
  color: #525752;
}

/************************************* Menu  *************************************/
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.back {
  width: 100%;
}

.logo-header {
  display: flex;
  justify-content: space-between;
  margin: 10px 50px 10px 0;
  width: 50%;
}

.logo-header img {
  width: 50%;
}

.image-restaurant img {
  width: 30%;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 90%;
  padding: 20px 0 0 10px;
  font-style: oblique;
  margin-right: 20px;
}

.menu {
  position: relative;
  margin-top: -30px;
  background-color: #f2f2f2;
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#entrees,
#plats,
#desserts {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 20px;
  padding-right: 15px;
}

#plats,
#desserts {
  display: flex;
  justify-content: space-between;
}

.underline {
  width: 2.5rem;
  border-top: 3px solid #99e2d0;
  margin: 0.5rem 0 0 15px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(#D579D5, #9356DC);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 80px;
  width: 200px;
  margin: 20px 0 20px 0;
}

.btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  height: 70px;
  width: 320px;
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 15px;
  align-items: center;
  cursor: pointer;
  position: relative;
  background-color: white;
  white-space: nowrap;
  text-overflow: ellipsis !important;
  transition: padding-right 800ms ease-in-out;
}

.info {
  width: 90%;
  padding: 0 10px 0 10px;
}

.prix {
  width: 10%;
  padding: 22px 0 0 5px;
  margin-right: 10px;
  margin-left: -10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.card p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

/***************************** Button valid menu *****************************/
.validation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  width: 60px;
  height: 70px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  top: 0;
  opacity: 0;
  right: -50px;
  background-color: #99e2d0;
  position: absolute;
}

img {
  display: flex;
  width: 60%;
  opacity: 1;
}

.card:hover,
.card:active {
  padding-right: 75px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card:hover:hover .validation,
.card:active:hover .validation {
  transform: translate(-50px);
  opacity: 1;
  transition: transform 1000ms ease-in-out;
}
.card:hover:active .validation,
.card:active:active .validation {
  transform: translate(-50px);
  opacity: 1;
  transition: transform 1000ms ease-in-out;
}
.card:hover .fa-check-circle,
.card:active .fa-check-circle {
  color: #fff;
  transition: transform 1000ms ease-in-out;
  transform: rotate(360deg);
}
.card:hover p:hover,
.card:hover h4:hover,
.card:hover p:active,
.card:hover h4:active,
.card:active p:hover,
.card:active h4:hover,
.card:active p:active,
.card:active h4:active {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*************************** Animation Menu **********************************/
#entrees {
  animation: wait 200ms, fade-in 800ms 200ms;
}

#plats {
  animation: wait 500ms, fade-in 800ms 500ms;
}

#desserts {
  animation: wait 900ms, fade-in 800ms 900ms;
}

/*************************  header ************************ */
.logo {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
  width: 50%;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index {
  padding-top: 20px;
  border: none;
}

.img {
  width: 50%;
}

.header-menu {
  display: flex;
  margin-left: 35px;
  align-items: baseline;
}

.btn-explorer:hover,
.command:hover {
  box-shadow: #ff79da 4px 4px 4px 0;
}

.btn-explorer:active,
.command:active {
  box-shadow: #ff79da 4px 4px 4px 0;
}

/******************************* Animation heart **********************************/
.heart:hover {
  cursor: pointer;
  animation: fill 0.8s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@media screen and (min-width: 300px) and (max-width: 1600px) {
  .heart {
    cursor: pointer;
  }

  .heart:active {
    animation: fill 0.8s ease-in-out forwards;
    display: inline-block;
    opacity: 1;
    background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #909090);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
}
.minicard-container:active {
  background-color: #f2eafb;
}

/*************************** Animation loading page **********************************/
.loader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #9356DC;
  border-right: 16px solid #ff79da;
  border-bottom: 16px solid #99e2d0;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.loader-container {
  position: absolute;
  z-index: 20;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  animation: loader-page 3s ease-in-out normal forwards;
  opacity: 1;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
}

.loading {
  /* utilisation d'un generateur */
  margin-bottom: 50px;
  animation-direction: normal;
  background: #9356DC;
  background: -webkit-linear-gradient(to right, #9356DC 0%, #ff79da 60%, #99e2d0 100%);
  background: -moz-linear-gradient(to right, #9356DC 0%, #ff79da 60%, #99e2d0 100%);
  background: linear-gradient(to right, #9356DC 0%, #ff79da 60%, #99e2d0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 10s infinite linear;
}

/*************************  header ************************ */
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #F6F6F6;
}

.fas {
  color: #808080;
}

.container .button .btn-explorer {
  display: flex;
  justify-content: center;
}

.btn-explorer {
  text-align: center;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(#D579D5, #9356DC);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 80px;
  width: 50%;
  margin: 20px 0 20px 0;
}

.localisation {
  display: flex;
  justify-content: center;
  padding: 15px 0 15px 0;
  width: 100%;
  background: #EAEAEA;
}

/************************* Fonctionement ************************ */
.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.minicard {
  background-color: #F6F6F6;
  border-radius: 25px;
  box-shadow: 0px 2px 19px -2px rgba(0, 0, 0, 0.17);
  font-family: "Roboto", sans-serif;
  margin: 20px 0 30px 0;
}

.minicard-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  background-color: #f2f2f2;
  color: #333;
  border-radius: 17px 17px 17px 17px;
  width: 300px;
}

.minicard-container:hover {
  background-color: #f2eafb;
}

.icon:hover {
  color: blue;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  margin: 0px 10px 0px -11px;
}

.icon {
  width: 50px;
  font-size: 20px;
  text-align: center;
  color: #808080;
}

/* restaurant */
.card-new,
.card-new1 {
  position: absolute;
  right: 3%;
  background-color: #99e2d0;
  margin-top: 20px;
  animation-duration: 0.7s;
  animation-name: clignote;
  animation-iteration-count: infinite;
  transition: none;
}

.new {
  padding: 5px 5px 5px 5px;
}

.article-restaurant img {
  width: 300px;
  height: 120px;
  border-radius: 17px 17px 0px 0px;
  object-fit: cover;
}

.article-restaurant {
  position: relative;
  margin-bottom: 20px;
  width: auto;
  border-radius: 17px;
  background-color: white;
  box-shadow: 1px 1px 15px darkgrey;
}

.restaurant-menu {
  width: 80%;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.i-restaurant {
  margin: 10px 10px 10px 10px;
  width: 150px;
}

.tarif-restaurant {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
}

#restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  width: auto;
}

.restaurant img {
  width: 300px;
  height: 150px;
  border-radius: 17px 17px 0px 0px;
  padding: 5px 5px 5px 5px;
  object-fit: cover;
}

.far {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

span {
  line-height: 1;
  font-family: "Roboto", sans-serif;
}

/***************************** Responsive *****************************/
@media screen and (min-width: 1281px) and (max-height: 1920px) {
  h5 {
    text-align: center;
  }

  .background {
    display: flex;
    justify-content: center;
    width: auto;
  }

  h3 {
    width: 100%;
    text-align: center;
  }

  .card {
    width: 350px;
  }

  .header {
    width: 100%;
  }

  .container {
    display: flex;
    width: 100%;
  }

  .choice {
    display: flex;
    flex-direction: row;
  }

  .minicard {
    margin: 30px;
  }

  .logo-header {
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 10px 50px 10px 0;
  }

  .header-menu {
    align-items: center;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 100px 0 100px;
  }

  #restaurant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 0 150px 20px 150px;
  }

  .article-restaurant img {
    width: 550px;
    height: 150px;
    border-radius: 17px 17px 0px 0px;
    object-fit: cover;
  }

  .btn-explorer {
    width: 30%;
  }

  #plats,
#desserts {
    align-self: baseline;
  }

  #desserts {
    width: 30%;
  }

  .footer-section {
    justify-content: center;
  }
}
@media screen and (min-width: 800px) and (max-height: 1280px) {
  #dessers {
    padding-top: 50px;
  }

  .footer-section {
    justify-content: center;
  }

  h5 {
    text-align: center;
  }

  .menu {
    align-items: baseline;
  }
}

/*# sourceMappingURL=style.css.map */
