@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import "./Base/text", "./Base/reset";
@import "./Utils/variable", "./Utils/keyframes";
@import "./Layout/footer", "./Layout/menu", "./Layout/header";
@import "./components/button", "./components/heart", "./components/loader";


/*************************  header ************************ */

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #F6F6F6;
}
.fas {
  color: #808080;
}

.container .button .btn-explorer {
  display: flex;
  justify-content: center;
}

.btn-explorer {
  text-align: center;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(#D579D5, $primary);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 80px;
  width: 50%;
  margin: 20px 0 20px 0;
}

.localisation {
  display: flex;
  justify-content: center;
  padding: 15px 0 15px 0;
  width: 100%;
  background: #EAEAEA;
}

/************************* Fonctionement ************************ */

.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.minicard {
  background-color: #F6F6F6;
  border-radius: 25px;
  box-shadow: 0px 2px 19px -2px rgba(0, 0, 0, 0.17);
  font-family: 'Roboto', sans-serif;
  margin: 20px 0 30px 0;
}

.minicard-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  background-color: #f2f2f2;
  color: #333;
  border-radius: 17px 17px 17px 17px;
  width: 300px;

}

.minicard-container:hover {
  background-color: #f2eafb;
}
.icon:hover {
  color: blue;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  margin: 0px 10px 0px -11px;
}

.icon {
  width: 50px;
  font-size: 20px;
  text-align: center;
  color: #808080;
}

/* restaurant */
.card-new,
.card-new1 {
  position: absolute;
  right: 3%;
  background-color: $tertiaire;
  margin-top: 20px;
  animation-duration: .7s;
  animation-name: clignote;
  animation-iteration-count: infinite;
  transition: none;
}
.new {
  padding: 5px 5px 5px 5px;
}
.article-restaurant img {
  width: 300px;
  height: 120px;
  border-radius: 17px 17px 0px 0px;
  object-fit: cover;
}

.article-restaurant {
  position: relative;
  margin-bottom: 20px;
  width: auto;
  border-radius: 17px;
  background-color: white;
  box-shadow: 1px 1px 15px darkgrey;
}

.restaurant-menu {
  width: 80%;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}

.i-restaurant {
  margin: 10px 10px 10px 10px;
  width: 150px;
}

.tarif-restaurant {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  padding-left: 10px;
}

#restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  width: auto;
}

.restaurant img {
  width: 300px;
  height: 150px;
  border-radius: 17px 17px 0px 0px;
  padding: 5px 5px 5px 5px;
  object-fit: cover;
}

.far {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

span {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
}


/***************************** Responsive *****************************/


@media screen and (min-width:1281px) and (max-height: 1920px) {

  h5 {
    text-align: center; 
  }
  .background {
    display: flex;
    justify-content: center;
    width: auto;
  }

  h3 {
    width: 100%;
    text-align: center;
  }

  .card {
    width: 350px;
  }

  .header {
    width: 100%;
  }

  .container {
    display: flex;
    width: 100%;
  }

  .choice {
    display: flex;
    flex-direction: row;
  }

  .minicard {
    margin: 30px;
  }

  .logo-header {
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 10px 50px 10px 0;
  }

  .header-menu {
    align-items: center;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 100px 0 100px;
  }

  #restaurant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 0 150px 20px 150px;
  }

  .article-restaurant img {
    width: 550px;
    height: 150px;
    border-radius: 17px 17px 0px 0px;
    object-fit: cover;
  }

  .btn-explorer {
    width: 30%;
  }

  #plats,
  #desserts {
    align-self: baseline;
  }

  #desserts {
    width: 30%;

  }

  .footer-section {
    justify-content: center;
  }
}
@media screen and (min-width:800px) and (max-height: 1280px) {
#dessers {
  padding-top: 50px
}
.footer-section {
  justify-content: center;
}
h5 {
  text-align: center;
}
.menu {
  align-items: baseline;
}
}