@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import "./Base/text";
@import "./Utils/variable", "./Utils/keyframes";
@import "./Layout/footer", "./Layout/menu";
@import "./components/button";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  color: black;
}

/*************************  Index ************************ */
/*************************  header ************************ */
.logo {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index {
  padding-top: 20px;
  border: none;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #F6F6F6;
}

.container .button .btn-explorer {
  display: flex;
  justify-content: center;
}

.btn-explorer {
  text-align: center;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(#D579D5, $primary);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 80px;
  width: 50%;
  margin: 20px 0 20px 0;
}

.localisation {
  display: flex;
  justify-content: center;
  padding: 15px 0 15px 0;
  width: 100%;
  background: #EAEAEA;
}

/************************* Fonctionement ************************ */

.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.minicard {
  background-color: #F6F6F6;
  border-radius: 25px;
  box-shadow: 0px 2px 19px -2px rgba(0, 0, 0, 0.17);
  font-family: "Roboto", sans-serif;
  margin: 20px 0 30px 0;
}

.minicard-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  background-color: #f2f2f2;
  color: #333;
  border-radius: 17px 17px 17px 17px;
  width: 300px;
}

.minicard-container:hover {
  background-color: #f2eafb;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  margin: 0px 10px 0px -11px;
}

.icon {
  width: 50px;
  font-size: 20px;
  text-align: center;
  color: #818181;
}

/* restaurant */
.card-new,
.card-new1 {
  float: right;
  position: absolute;
  left: 68%;
  background-color: $tertiaire;
  margin-top: 20px;
  animation-duration: .7s;
  animation-name: clignote;
  animation-iteration-count: infinite;
  transition: none;
}

.article-restaurant img {
  width: 300px;
  height: 120px;
  border-radius: 17px 17px 0px 0px;
  object-fit: cover;
}

.article-restaurant {
  margin-bottom: 20px;
  width: auto;
  border-radius: 17px;
  background-color: white;
  box-shadow: 1px 1px 15px darkgrey;
}

.restaurant-menu {
  width: 80%;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}

.i-restaurant {
  margin: 10px 10px 10px 10px;
  width: 150px;
}

.tarif-restaurant {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-family: 'roboto';
  padding-left: 10px;
}

#restaurant {
  display: flex;
  flex-direction: column;
  ;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  width: auto;
}

.restaurant img {
  width: 300px;
  height: 150px;
  border-radius: 17px 17px 0px 0px;
  padding: 5px 5px 5px 5px;
  object-fit: cover;
}

.far {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

span {
  line-height: 1;
  font-weight: normal;
}


/***************************** Responsive *****************************/
@media screen and (min-width:800px) and (max-width: 1920px) {
  .background {
    display: flex;
    justify-content: center;
    width: auto;
  }

  h3 {
    width: 100%;
    text-align: center;
  }

  .header {
    width: 100%;
  }

  .container {
    display: flex;
    width: 100%;
  }

  .choice {
    display: flex;
    flex-direction: row;
  }

  .minicard {
    margin: 30px;
  }

  .logo-header {
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 10px 50px 10px 0;
  }

  .header-menu {
    align-items: center;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }

  .card-new1 {
    position: absolute;
    left: 32%;
  }

  .card-new {
  position: absolute;
    left: 88%;
    margin-right:-5px;
  }
  .card-new1 {
    position: absolute;
    left: 32%;
  }
 
  @media screen and (min-width:900px) and (max-width: 1440px) {
  .card-new {
  position: absolute;
    left: 83%;
  }
  .card-new1 {
    position: absolute;
    left: 42%;
  }
  }
  @media screen and (min-width:800px) and (max-width: 1280px) {
    .card-new1 {
      position: absolute;
      left: 75%;
    }
  
    .card-new {
    position: absolute;
      left: 75%;
    }
    .choice {
      display: flex;
      flex-direction: column;
    }
}
  #restaurant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 0 150px 20px 150px;
  }

  .article-restaurant img {
    width: 550px;
    height: 150px;
    border-radius: 17px 17px 0px 0px;
    object-fit: cover;
  }

  .btn-explorer {
    width: 30%;
  }

  .plats,
  .desserts {
    align-self: baseline;
  }

  .desserts {
    width: 30%;
  }

  .footer-section {
    justify-content: center;
  }
}

.heart:hover {
  cursor: pointer;
  animation: fill 0.8s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/******************************* Animation heart **********************************/
@media screen and (min-width:300px) and (max-width:1600px) {
  .heart {
    cursor: pointer;
  }

  .heart:active {
    animation: fill 0.8s ease-in-out;
    display: inline-block;
    opacity: 1;
    background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
}

.minicard-container:active {
  background-color: #f2eafb;
}

/*************************** Animation loading page **********************************/
.loader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid $primary;
  border-right: 16px solid $secondary;
  border-bottom: 16px solid $tertiaire;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.loader-container {
  position: absolute;
  z-index: 20;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  animation: loader-page 3s ease-in-out normal forwards;
  opacity: 1;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8)
}

.loading {
  /* utilisation d'un generateur */
  margin-bottom: 50px;
  animation-direction: normal;
  background: #9356DC;
  background: -webkit-linear-gradient(to right, $primary 0%, $secondary 60%, $tertiaire 100%);
  background: -moz-linear-gradient(to right, $primary 0%, $secondary 60%, $tertiaire 100%);
  background: linear-gradient(to right, $primary 0%, $secondary 60%, $tertiaire 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 10s infinite linear;
}