.btn-explorer:hover,
.command:hover {
    box-shadow: $secondary 0px 10px 12px;
    opacity: 80%;
}

.btn-explorer:active,
.command:active {
    box-shadow: $secondary 0px 10px 12px;
    opacity: 80%;
}