@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import "../Utils/variable";

/************************ titres & paragraphes ************************/
h1 {
  font-family: "Shrikhand";
  margin-left: -10px;
}

h2 {
  padding: 20px 0 0 15px;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 16px;
}

h3 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  width: 90%;
}

h4 {
  font-family: "Roboto", sans-serif;
  padding-bottom: 6px;
  position: relative;
  font-size: 14px;
  width: 100%;
}

h5 {
  margin-left: 10px;
}
p.index1 {
  color: #808080;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.map {
  padding-left: 15px;
}

.index1 {
  text-align: center;
  width: 80%;
}
h2.index {
  font-weight: bold;
  padding: 20px 10px 10px 10px;
}