
/*************************  header ************************ */ 
.logo {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
  width: 50%;
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.index {
  padding-top: 20px;
  border: none;
}
.img {
  width: 50%;
}
.header-menu {
  display: flex;
  align-items: baseline;
}