@import "./Utils/_variable";
/*************************  header ************************ */ 
.logo {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.index {
  padding-top: 20px;
  border: none;
}


