 /************************************* Menu  *************************************/

 .title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 80%;
 }

 .back {
   width: 100%;
 }

 .logo-header {
   display: flex;
   justify-content: space-between;
   margin: 10px 50px 10px 0;
   width: 50%;
 }

 .logo-header img {
   width: 50%;

 }

 .image-restaurant img {
   width: 30%;
 }

 .header-menu {
   display: flex;
   justify-content: space-between;
   align-content: center;
   width: 90%;
   padding: 20px 0 0 10px;
   margin-right: 20px;
 }

 .menu {
   position: relative;
   margin-top: -30px;
   background-color: #f2f2f2;
   border-radius: 25px 25px 0 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }

 #entrees,
 #plats,
 #desserts {
   display: flex;
   flex-direction: column;
   align-items: baseline;
   justify-content: center;
   margin-top: 20px;
   padding-right: 15px;
 }

 #plats,
 #desserts {
   display: flex;
   justify-content: space-between;
 }

 .underline {
   width: 2.5rem;
   border-top: 3px solid $tertiaire;
   margin-top: .5rem;

 }

 button {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50px;
   border: none;
   border-radius: 10px;
   background: linear-gradient(#D579D5, #9356DC);
   color: #fff;
   font-weight: 600;
   cursor: pointer;
   border-radius: 80px;
   width: 200px;
   margin: 20px 0 20px 0;
 }

 .btn {
   width: 100%;
   display: flex;
   justify-content: center;
 }

 .card {
   display: flex;
   height: 70px;
   width: 320px;
   margin-top: 15px;
   border-radius: 15px;
   align-items: center;
   cursor: pointer;
   position: relative;
   background-color: white;
   white-space: nowrap;
   text-overflow: ellipsis !important;
   transition: padding-right 800ms ease-in-out;
   position: relative;
 }

 .info {
   width: 90%;
   padding: 0 10px 0 10px;
 }

 .prix {
   width: 10%;
   padding: 22px 0 0 5px;
   margin-right: 10px;
   margin-left: -10px;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
 }

 .card p {
   font-size: 14px;
   font-family: "Roboto", sans-serif;
 }

  .card p, .card h4 { 
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   position: relative;
    padding-right: 10px;
 }

 /***************************** Button valid menu *****************************/
 .validation {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: $tertiaire;
   width: 60px;
   height: 70px;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   top: 0;
   right: -50px;
   opacity: 0;
   position: absolute;  
 }

 img {
   display: flex;
   width: 60%;
   opacity: 1;
 }

 .card:hover,
 .card:active {
   padding-right: 70px;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;

   &:hover .validation {
     transform: translate(-50px);
     opacity: 1;
     transition: transform 1000ms ease-in-out;
  
   }

   &:active .validation {
     transform: translate(-50px);
     opacity: 1;
     transition: transform 1000ms ease-in-out;
   }

   & .fa-check-circle {
     color: #fff;
     transition: transform 1000ms ease-in-out;
     transform: rotate(360deg);
   }

 }

 /*************************** Animation Menu **********************************/
 #entrees {
   @include fade-in('200ms');
 }

 #plats {
   @include fade-in('500ms');
 }

 #desserts {
   @include fade-in('900ms');
 }